
.top-ui {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(0,0,0,.6);
}

button {
  padding: 3px 10px;
  margin: 0 3px;
  user-select: none;

}

button:focus {
  outline: none;
}

button.selected {
  box-shadow: 0px 0px  0px 3px rgba(0,255,0,.6);
}

body {
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #efefef;
}

h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 0;
  line-height: 26px;
  font-size: 24px;
  color: rgba(255,255,255,.4);
  font-weight: 300;
  transform: rotateX(-20deg);
  padding-bottom: 10px;

}


.scene {
  position: relative;
  background: white;

  /*transform: scale(.5);*/
  /*background: #efefef;*/
}

canvas {
  background: white;
  display: block;
  /*outline: solid 1px #DDD;*/
}


.colors {
  display: block;
  height: 100%;
  position: absolute;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  right: 0;
  bottom: 0;
  top: 0;
  padding-right: 25px;
}

.colors .swatch {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 5px 0;
  border: solid 2px white;
}

.colors .swatch.selected {
  transform: scale(1.2);
}

.tools {
  position: absolute;
  bottom: 0;
  width: 100vw;
  /*display: flex;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  text-align: center;
  margin-bottom: 10px;
}

.tools button {
  margin: 0 8px;
}


